{% load staticfiles %}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'wallet/style.css' %}">
<title>{% block title %}Verify Account{% endblock %}</title>
{% block body %}
{% include 'wallet/menu_base.html' %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 id="form">Enter Verification Code</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'wallet/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Verify</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>WITH VIRTUAL WALLET</h2>
                    <h3>Your Details Are Secured</h3>
                    <img style="width:50px;height:50px;" src="../../static/wallet/images/mobile.png" alt=" " />
                    <h3>Anytime, Anywhere Recharge and Transfer </h3>
                    <img src="../../static/wallet/images/map.png" alt=" " />
                     <h3>Secured Payments</h3>
                    <img src="../../static/wallet/images/logos.png" alt=" " />
                </div>
            </div>
        </div>


    </div>
</div>
{% include 'wallet/base_bottom.html' %}


{% endblock %}